<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MvcSiteMapProvider_IncludeAssembliesForScan" value="Pasifika.WebUI" />
    <add key="MvcSiteMapProvider_UseExternalDIContainer" value="true" />
    <add key="MvcSiteMapProvider_ScanAssembliesForSiteMapNodes" value="true" />
  </appSettings>
  <dataConfiguration defaultDatabase="dbCRM" />
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-G505BEH\SQLEXPRESS;Initial Catalog=pasifikaV2;Persist Security Info=True;User ID=tomi;Password=tupaca123" />
    <add name="dbCRM" connectionString="Data Source=DESKTOP-G505BEH\SQLEXPRESS;Initial Catalog=dbPasifika;Persist Security Info=True;User ID=tomi;Password=tupaca123" providerName="System.Data.SqlClient" />
    <!--<add name="dbCRM" connectionString="Data Source=;Initial Catalog=PasifikaCRM;User ID=sa;Password=;" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="data source=;initial catalog=Pasifika;user id=sa;password=;MultipleActiveResultSets=True" />-->
  </connectionStrings>
  <system.web>
    <!--<customErrors mode="Off"/>-->
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <globalization uiCulture="es" culture="es-ES" />
    <pages>
      <namespaces>
        <add namespace="MvcSiteMapProvider.Web.Html" />
        <add namespace="MvcSiteMapProvider.Web.Html.Models" />
      </namespaces>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.webServer>
    <modules>
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" />
    </modules>
    <rewrite>
      <rules>
        <rule name="Redirect to www" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="pasifika.es" />
          </conditions>
          <action type="Redirect" url="http://www.pasifika.es/{R:0}" appendQueryString="true" />
        </rule>
        <rule name="quienessomos" stopProcessing="true">
          <match url="quienes_somos.aspx" />
          <action type="Redirect" url="quienes-somos/" />
        </rule>
        <rule name="politicaprivacidad" stopProcessing="true">
          <match url="politica_privacidad.aspx" />
          <action type="Redirect" url="notas/politica-privacidad/" />
        </rule>
        <rule name="condicionesgenerales" stopProcessing="true">
          <match url="condiciones_generales.aspx" />
          <action type="Redirect" url="notas/Condiciones-generales/" />
        </rule>
        <rule name="newsletter" stopProcessing="true">
          <match url="newsletter.aspx" />
          <action type="Redirect" url="/" />
        </rule>
        <rule name="enviaramigo" stopProcessing="true">
          <match url="enviar_amigo.aspx" />
          <action type="Redirect" url="/" />
        </rule>
        <rule name="bajanewsletter" stopProcessing="true">
          <match url="baja_newsletter.aspx" />
          <action type="Redirect" url="baja/" />
        </rule>
        <rule name="mapasitio" stopProcessing="true">
          <match url="mapa_sitio.aspx" />
          <action type="Redirect" url="/" />
        </rule>
                 
        <rule name="default" stopProcessing="true">
          <match url="default.aspx" />
          <action type="Redirect" url="/" />
        </rule>
        
        <rule name="preguntasfrecuentes" stopProcessing="true">
          <match url="preguntas_frecuentes.aspx" />
          <action type="Redirect" url="preguntas-frecuentes/" />
        </rule>
        <rule name="contacto" stopProcessing="true">
          <match url="contacto.aspx" />
          <action type="Redirect" url="contacto/" />
        </rule>
         <rule name="catalogo" stopProcessing="true">
          <match url="catalogo.aspx" />
          <action type="Redirect" url="guias-de-viaje/" />
        </rule>

        <!--
        <rule name="pdf"  stopProcessing="true">
          <match url="([_0-9a-z-]+).pdf" />
          <action type="Redirect" url="/" />
        </rule>
        -->
        
        <rule name="viajenoviodestino" stopProcessing="true">
          <match url="destinos/1/viajes-de-novios.aspx" />
          <action type="Redirect" url="categoria/viajes-de-novios/" />
        </rule>
        <rule name="viajenoviodestacado" stopProcessing="true">
          <match url="1/viajes-de-novios.aspx" />
          <action type="Redirect" url="categoria/destacados/viajes-de-novios/" />
        </rule>
        <rule name="viajenoviodestinoespecifico"  stopProcessing="true">
          <match url="destinos/([0-9]+)/viajes-de-novios/([_0-9a-z-]+).aspx" />
          <action type="Redirect" url="categoria/viajes-de-novios/" />
        </rule>

        <rule name="vueltaalmundodestino" stopProcessing="true">
          <match url="destinos/2/vueltas-al-mundo.aspx" />
          <action type="Redirect" url="categoria/vueltas-al-mundo/" />
        </rule>
        <rule name="vueltaalmundodestacado" stopProcessing="true">
          <match url="2/vueltas-al-mundo.aspx" />
          <action type="Redirect" url="categoria/destacados/vueltas-al-mundo/" />
        </rule>
        <rule name="vueltaalmundodestinoespecifico"  stopProcessing="true">
          <match url="destinos/([0-9]+)/vueltas-al-mundo/([_0-9a-z-]+).aspx" />
          <action type="Redirect" url="categoria/vueltas-al-mundo/" />
        </rule>

        <rule name="viajelujodestino" stopProcessing="true">
          <match url="destinos/3/viajes-de-lujo.aspx" />
          <action type="Redirect" url="categoria/viajes-de-lujo/" />
        </rule>
        <rule name="viajelujodestacado" stopProcessing="true">
          <match url="3/viajes-de-lujo.aspx" />
          <action type="Redirect" url="categoria/destacados/viajes-de-lujo/" />
        </rule>
        <rule name="viajelujodestinoespecifico"  stopProcessing="true">
          <match url="destinos/([0-9]+)/viajes-de-lujo/([_0-9a-z-]+).aspx" />
          <action type="Redirect" url="categoria/viajes-de-lujo/" />
        </rule>

        <rule name="viejaamedidadestino" stopProcessing="true">
          <match url="destinos/4/viajes-a-medida.aspx" />
          <action type="Redirect" url="categoria/viajes-a-medida/" />
        </rule>
        <rule name="viejaamedidadestacado" stopProcessing="true">
          <match url="4/viajes-a-medida.aspx" />
          <action type="Redirect" url="categoria/destacados/viajes-a-medida/" />
        </rule>

        <rule name="propuestaespecialdestino" stopProcessing="true">
          <match url="destinos/5/propuestas-especiales.aspx" />
          <action type="Redirect" url="/" />
        </rule>
        <rule name="propuestaespecialdestacado" stopProcessing="true">
          <match url="5/propuestas-especiales.aspx" />
          <action type="Redirect" url="/" />
        </rule>
        <rule name="propuestaespecialdestinoespecifico"  stopProcessing="true">
          <match url="destinos/([0-9]+)/propuestas-especiales/([_0-9a-z-]+).aspx" />
          <action type="Redirect" url="/" />
        </rule>

        <rule name="australiadestino" stopProcessing="true">
          <match url="destinos/6/viajes-a-australia.aspx" />
          <action type="Redirect" url="viajes/viajes-a-australia/" />
        </rule>
        <rule name="australiadestacado" stopProcessing="true">
          <match url="6/viajes-a-australia.aspx" />
          <action type="Redirect" url="viajes/destacados/viajes-a-australia/" />
        </rule>
        <rule name="australiadestinoespecifico"  stopProcessing="true">
          <match url="destinos/([0-9]+)/viajes-a-australia/([_0-9a-z-]+).aspx" />
          <action type="Redirect" url="viajes/viajes-a-australia/" />
        </rule>

        <rule name="nuevazelandadestino" stopProcessing="true">
          <match url="destinos/7/viajes-a-nueva-zelanda.aspx" />
          <action type="Redirect" url="viajes/viajes-a-nueva-zelanda/" />
        </rule>
        <rule name="nuevazelandadestacado" stopProcessing="true">
          <match url="7/viajes-a-nueva-zelanda.aspx" />
          <action type="Redirect" url="viajes/destacados/viajes-a-nueva-zelanda/" />
        </rule>
        <rule name="nuevazelandadestinoespecifico"  stopProcessing="true">
          <match url="destinos/([0-9]+)/viajes-a-nueva-zelanda/([_0-9a-z-]+).aspx" />
          <action type="Redirect" url="viajes/viajes-a-nueva-zelanda/" />
        </rule>

        <rule name="polifijicookdestino" stopProcessing="true">
          <match url="destinos/8/viajes-a-polinesia-fiji-cook.aspx" />
          <action type="Redirect" url="viajes/viajes-a-polinesia-francesa/" />
        </rule>
        <rule name="polifijicookdestacado" stopProcessing="true">
          <match url="8/viajes-a-polinesia-fiji-cook.aspx" />
          <action type="Redirect" url="viajes/destacados/viajes-a-polinesia-francesa/" />
        </rule>
        <rule name="polifijicookdestinoespecifico"  stopProcessing="true">
          <match url="destinos/([0-9]+)/viajes-a-polinesia-fiji-cook/([_0-9a-z-]+).aspx" />
          <action type="Redirect" url="viajes/viajes-a-polinesia-francesa/" />
        </rule>

        <rule name="tailandiadestino" stopProcessing="true">
          <match url="destinos/9/viajes-a-tailandia.aspx" />
          <action type="Redirect" url="viajes/viajes-a-tailandia/" />
        </rule>
        <rule name="tailandiadestacado" stopProcessing="true">
          <match url="9/viajes-a-tailandia.aspx" />
          <action type="Redirect" url="viajes/destacados/viajes-a-tailandia/" />
        </rule>
        <rule name="tailandiadestinoespecifico"  stopProcessing="true">
          <match url="destinos/([0-9]+)/viajes-a-tailandia/([_0-9a-z-]+).aspx" />
          <action type="Redirect" url="viajes/viajes-a-tailandia/" />
        </rule>

        <rule name="vietnamcamboyadestino" stopProcessing="true">
          <match url="destinos/10/viajes-a-vietnam-Camboya.aspx" />
          <action type="Redirect" url="viajes/viajes-a-vietnam/" />
        </rule>
        <rule name="vietnamcamboyadestacado" stopProcessing="true">
          <match url="10/viajes-a-vietnam-Camboya.aspx" />
          <action type="Redirect" url="viajes/destacados/viajes-a-vietnam/" />
        </rule>
        <rule name="vietnamcamboyadestinoespecifico"  stopProcessing="true">
          <match url="destinos/([0-9]+)/viajes-a-vietnam-Camboya/([_0-9a-z-]+).aspx" />
          <action type="Redirect" url="viajes/viajes-a-vietnam/" />
        </rule>

        <rule name="indonesiadestino" stopProcessing="true">
          <match url="destinos/11/viajes-a-indonesia.aspx" />
          <action type="Redirect" url="viajes/viajes-a-indonesia/" />
        </rule>
        <rule name="indonesiadestacado" stopProcessing="true">
          <match url="11/viajes-a-indonesia.aspx" />
          <action type="Redirect" url="viajes/destacados/viajes-a-indonesia/" />
        </rule>
        <rule name="indonesiadestinoespecifico"  stopProcessing="true">
          <match url="destinos/([0-9]+)/viajes-a-indonesia/([_0-9a-z-]+).aspx" />
          <action type="Redirect" url="viajes/viajes-a-indonesia/" />
        </rule>

        <rule name="birmaniadestino" stopProcessing="true">
          <match url="destinos/12/viajes-a-birmania.aspx" />
          <action type="Redirect" url="viajes/viajes-a-myanmar/" />
        </rule>
        <rule name="birmaniadestacado" stopProcessing="true">
          <match url="12/viajes-a-birmania.aspx" />
          <action type="Redirect" url="viajes/destacados/viajes-a-myanmar/" />
        </rule>
        <rule name="birmaniadestinoespecifico"  stopProcessing="true">
          <match url="destinos/([0-9]+)/viajes-a-birmania/([_0-9a-z-]+).aspx" />
          <action type="Redirect" url="viajes/viajes-a-myanmar/" />
        </rule>

        <rule name="japondestino" stopProcessing="true">
          <match url="destinos/13/viajes-a-japon.aspx" />
          <action type="Redirect" url="viajes/viajes-a-japon/" />
        </rule>
        <rule name="japondestacado" stopProcessing="true">
          <match url="13/viajes-a-japon.aspx" />
          <action type="Redirect" url="viajes/destacados/viajes-a-japon/" />
        </rule>
        <rule name="japondestinoespecifico"  stopProcessing="true">
          <match url="destinos/([0-9]+)/viajes-a-japon/([_0-9a-z-]+).aspx" />
          <action type="Redirect" url="viajes/viajes-a-japon/" />
        </rule>

        <rule name="chinadestino" stopProcessing="true">
          <match url="destinos/14/viajes-a-china.aspx" />
          <action type="Redirect" url="viajes/viajes-a-china/" />
        </rule>
        <rule name="chinadestacado" stopProcessing="true">
          <match url="14/viajes-a-china.aspx" />
          <action type="Redirect" url="viajes/destacados/viajes-a-china/" />
        </rule>
        <rule name="chinadestinoespecifico"  stopProcessing="true">
          <match url="destinos/([0-9]+)/viajes-a-china/([_0-9a-z-]+).aspx" />
          <action type="Redirect" url="viajes/viajes-a-china/" />
        </rule>

        <rule name="indiadestino" stopProcessing="true">
          <match url="destinos/15/viajes-a-india-nepal.aspx" />
          <action type="Redirect" url="viajes/viajes-a-india/" />
        </rule>
        <rule name="indiadestacado" stopProcessing="true">
          <match url="15/viajes-a-india-nepal.aspx" />
          <action type="Redirect" url="viajes/destacados/viajes-a-india/" />
        </rule>
        <rule name="indiadestinoespecifico"  stopProcessing="true">
          <match url="destinos/([0-9]+)/viajes-a-india-nepal/([_0-9a-z-]+).aspx" />
          <action type="Redirect" url="viajes/viajes-a-india/" />
        </rule>

        <rule name="otrosdestino" stopProcessing="true">
          <match url="destinos/16/otros-destinos.aspx" />
          <action type="Redirect" url="viajes/viajes-a-maldivas/" />
        </rule>
        <rule name="otrosdestacado" stopProcessing="true">
          <match url="16/otros-destinos.aspx" />
          <action type="Redirect" url="viajes/destacados/viajes-a-maldivas/" />
        </rule>
        <rule name="otrosdestinoespecifico"  stopProcessing="true">
          <match url="destinos/([0-9]+)/otros-destinos/([_0-9a-z-]+).aspx" />
          <action type="Redirect" url="viajes/viajes-a-maldivas/" />
        </rule>


        <rule name="hotelesdestino" stopProcessing="true">
          <match url="seleccion-de-hoteles.aspx" />
          <action type="Redirect" url="hoteles-de-lujo/" />
        </rule>
        <rule name="hotelesdestacado" stopProcessing="true">
          <match url="hoteles/([_0-9a-z-]+)" />
          <action type="Redirect" url="hoteles-de-lujo/" />
        </rule>

        <rule name="guiasturisticas" stopProcessing="true">
          <match url="informacion-turistica.aspx" />
          <action type="Redirect" url="guias-de-viaje/" />
        </rule>
        <rule name="guiasturisticasespecifica"  stopProcessing="true">
          <match url="([0-9]+)/informacion-turistica-de-([_0-9a-z-]+)/datos.aspx" />
          <action type="Redirect" url="guias-de-viaje/" />
        </rule>
        
         <rule name="noticiasynovedades" stopProcessing="true">
          <match url="informacion.aspx" />
          <action type="Redirect" url="notas/" />
        </rule>
        <rule name="noticiasynovedadesgeneral" stopProcessing="true">
          <match url="informacion/([_0-9a-z-]+)" />
          <action type="Redirect" url="notas/" />
        </rule>

      </rules>
    </rewrite>
  </system.webServer>
</configuration>