@model Pasifika.WebUI.ViewModels.MenuIzquierdaDestinosViewModel

<ul class="nav-sidebar list-unstyled bold">
    @foreach (var r in Model.Regiones)
    {
        <li>           
            <a href="#viajes-@r.Url" id="viajes-@r.Url" class="tipo-1 visible-xs" ><span>@r.Descripcion</span></a>
        </li>
    }
</ul>