@model Pasifika.WebUI.Areas.Admin.ViewModels.PaginaTextoEditViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "PaginaTexto", FormMethod.Post, new { id = "formEdit" }))
{
    <div class="jarviswidget" id="wid-id-10">
        <header>
            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
            <h2>Texto </h2>

        </header>

        <!-- widget div-->
        <div>
            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->
            </div>

            <!-- end widget edit box -->
            <!-- widget content -->
            <div class="widget-body">

                <div class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Texto</label>
                            <div class="col-md-9">
                                @Html.TextArea("Texto", (Model.PaginaTexto.Texto), new { @class = "summernote", @cols = 40, @rows = 6 })
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                @Html.Hidden("paginaTextoId", Model.PaginaTexto.Id)
                                <input id="btnEnviar" type="submit" class="btn btn-primary" value="Guardar" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end widget content -->
        </div>
    </div>
}

@section scripts
{
    <script src="~/Areas/Admin/Content/js/plugin/ckeditor/config.js"></script>
    <script src="~/Areas/Admin/Content/js/plugin/ckeditor/ckeditor.js"></script>
    <script src="~/Areas/Admin/Content/js/plugin/ckeditor/styles.js"></script>
    <script src="~/Areas/Admin/Content/js/plugin/ckeditor/adapters/jquery.js"></script>

    <script type="text/javascript">
    $(document).ready(function () {
        $('.summernote').ckeditor({

        });

        $('#btnEnviar').click(function (e) {
            e.preventDefault();

            $("#formEdit").submit();
        });
    });
    </script>
}